<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaMR6AdxHWqk90cBFELSQL1zE3Vb7UJUw</string>
	<key>GCM_SENDER_ID</key>
	<string>212952356838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yh.cmuoi</string>
	<key>PROJECT_ID</key>
	<string>cmuoi-25da5</string>
	<key>STORAGE_BUCKET</key>
	<string>cmuoi-25da5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212952356838:ios:bdbd94e78540b8d805e827</string>
</dict>
</plist>